{:paths ["/tmp/src"]
 :deps
 {javax.servlet/javax.servlet-api {:mvn/version "3.1.0"}
  io.pedestal/pedestal.jetty {:mvn/version "0.5.4"}}
 :aliases
 {:vm {:jvm-opts ["-Xmx3G"] :main-opts ["-m" "jaq.runtime"]
       :extra-deps {org.clojure/clojurescript {:mvn/version "1.10.439"}}}}}
